body {
 font-family:Arial, Helvetica, sans-serif;
 background-color: #EEF4ED;
}

h1 {
    font-size: 60;
    color: #0B2545;
}

p {
  font-size: 20px;
  color: #0B2545;

}

button {
    width: 50px;
    height: 40px;
    background-color: #8DA9C4;
    color: #13315C;
}


